<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <link href='http://fonts.googleapis.com/css?family=Handlee|Poly' rel='stylesheet' type='text/css'>
    <link href="/assets/bundle.css" type="text/css" rel="stylesheet">
    <script src="/assets/bundle.js"></script>
    
    <title>Steckling Template App</title>
  </head>
  <body>
    <div id="wrapper">
      <div id="paper">
        <div id="tasks">
          <ul id="tasks-list">
            <li class="task-item task-item-morning">
              <span class="task-done task-done-no">No</span>
              <span class="task-title">Tee</a>
            </li>
            <li class="task-item task-item-morning">
              <span class="task-done task-done-yes">Yes</span>
              <span class="task-title">Zeug checken</a>
            </li>
            <li class="task-item task-item-evening">
              <span class="task-done task-done-no">No</span>
              <span class="task-title">Tagebuch</a>
            </li>
            <li class="task-item task-item-evening">
              <span class="task-done task-done-no">No</span>
              <span class="task-title">Bett</a>
            </li>
          </ul>
          <div id="tasks-controls">
            <a href="#tasks/new" id="tasks-add">
              <span>Add Task</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>