body
  background: #aaa

#wrapper
  margin: auto;
  max-width: 1000px
  padding: 36px 10px
  _width: 940px
  text-align: center
  position: relative

#paper
  margin: 0 auto
  width: 490px
  background: url('/assets/groovepaper.png') repeat white
  border-radius: 2px
  box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.2)
  overflow: hidden