body
  background: #aaa

#wrapper
  margin: auto;
  max-width: 1000px
  padding: 36px 10px
  _width: 940px
  text-align: center

#paper
  margin: 0 auto
  width: 490px
  background: url('/assets/groovepaper.png') repeat white
  border-radius: 2px
  box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.2)
  overflow: hidden

#tasks
  text-align: left

#tasks-list
  list-style: none
  line-height: 1.78em
  margin: 0

  li.task-item
    font-family: 'Handlee', cursive;
    font-size: 1.78em
    border-top: 2px dotted rgba(251, 170, 63, 0.7)
    padding: 13px 20px 10px 20px
    color: #222

    &:first-child
      border-top: none

#tasks-form
  border-top: 2px dotted rgba(251, 170, 63, 0.9)

  form
    margin: 0

    input#task-title
      width: 100%
      font-family: 'Handlee', cursive;
      font-size: 1.78em
      padding: 13px 20px 10px 20px
      background: rgba(255, 255, 255, 0.2)

#tasks-controls
  border-top: 2px dotted rgba(0, 0, 0, 0.3)
  
  #tasks-add
    display: block
    width: 100%
    text-align: center
    font-family: 'Poly', serif
    font-size: 1.9em
    text-decoration: none
    padding: 20px 0
    background: rgba(0, 0, 0, 0.18)

    &:hover
      background: rgba(0, 0, 0, 0.2)

    span
      padding-left: 34px
      background: url('/assets/plus.png') no-repeat left 2px